*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

/bin/
/build/
/dist/

vendor/

go.work
go.work.sum

Godeps/

.idea/
.vscode/
*.sw?
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

*.log

.env
.env.* # para casos de .env.dev, .env.prod

*.out
*.coverprofile
coverage.html

*.tmp

*.core

*~

/.vscode/launch.json
